body::before {
    display: block;
    content: "";
    height: 60px;
}

.nav-color {
    background-color: #0d213a !important;
    color: #ffffff !important;
}

.logo {
    height: 40px;
    width: 40px;
}

.img-text {
    height: 50%;
    width: 50%;
}

.img-text-2 {
    height: 40%;
    width: 40%;
    text-align: right;
}

#carouselExampleCaptions {
    max-width: 1200px;
    text-align: center;
    width: 70%;
    margin: 2rem auto;
}

#carouselExampleCaptions .carousel-caption {
    position: absolute;
    top: 40%;
    /* left: 50%;
    transform: translate(-50%, -50%); */
    text-align: center;
}

#carouselExampleCaptions .carousel-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.link {
    color: #3c78d8;
    text-decoration: none;
}

/*Animation*/
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

@media (min-width: 768px) {
    .news-input {
        width: 50%;
    }
}